.menu {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 50px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 3vw;
  font-size: 24px;
}

ul li a {
  padding: 10px;
  border-radius: 15px;
  box-shadow: #ccc 0.2vw 0.2vw 0.6vw;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease, tranform 1s ease;
}

ul li a:hover {
  background-color: #252525;
  color: #fff;
  box-shadow: #373737 0.3vw 0.3vw 0.8vw;
  transform: scale(1.1);
}

ul li a {
  text-decoration: none;
  color: #000;
}
