.header {
  padding: 10px;
}

.presentacion {
  width: 100%;
  height: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.presentacion button {
  border-radius: 5px;
  border: none;
  background-color: #1a1a1a;
  text-decoration: underline;
  transition: transform 1s ease, font-size 1s ease;
  position: relative;
}

.presentacion button:hover {
  transform: scale(1.1);
  font-size: 14px;
}

.presentacion p {
  width: auto;
}

.skills ul {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  gap: 2vw;
  margin-top: 5vw;
}

.skills{
    list-style: none;
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 20px;
  color: white;
  max-width: 450px;
  margin: auto;
  margin-top: 300px;
}
