.container>*{
    margin: 2vw;
}

.presentacion {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
}

.presentacion button {
  border-radius: 5px;
  border: none;
  background-color: #1a1a1a;
  text-decoration: underline;
  transition: transform 1s ease, font-size 1s ease;
}

.presentacion button:hover {
  transform: scale(1.1);
  font-size: 14px;
}

.skills ul {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  gap: 2vw;
}

.skills {
  list-style: none;
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 20px;
  color: white;
  max-width: 450px;
  margin: auto;
  margin-top: 300px;
}

.image {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}